<p id="goBackButton" routerLink=""> <i class="fa-solid fa-arrow-left"></i> Go Back</p>
<ng-container *ngIf="country$ | async as country">
  <div *ngIf="country === undefined">Chargement...</div>
  <div *ngIf="country === null">Erreur lors du chargement</div>
  <div *ngIf="country$ | async as country">
    <div class="subtitle">
      <p>{{ country.country }}</p>
    </div>
    <div class="statistics">
      <div class="stats">
        <p>Number of entries</p>
        <span class="stats-value">{{ getNumberOfParticipations(country) }}</span>
      </div>
      <div class="stats">
        <p>Total number of medals</p>
        <span class="stats-value">{{ getTotalMedals(country) }}</span>
      </div>
      <div class="stats">
        <p>Total number of athletes</p>
        <span class="stats-value">{{ getTotalAthletes(country) }}</span>
      </div>
    </div >
    <div class="chart-wrapper" *ngIf="medalByYear$ | async as lineData">
      <div class="chart-container">
        <ngx-charts-line-chart
          [results]="lineData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showGridLines]="true"
          [roundDomains]="true"
          [animations]="true"
          [tooltipDisabled]="true">
        </ngx-charts-line-chart>
        <p id="axis-label">Dates</p>
      </div>
    </div>
  </div>
</ng-container>
