::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: #04838f;
  }
  background-color: #04838f;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 5px 10px 5px 10px;
}

.medal-icon {
  rotate: 180deg;
}