<h2>Olympic games app</h2>
<hr />
<ng-container *ngIf="olympics$ | async as olympics">
  <div *ngIf="olympics === undefined">Chargement...</div>
  <div *ngIf="olympics === null">Erreur lors du chargement</div>
  <div *ngIf="olympics">
    <!-- afficher le graph -->
     <p>{{ (olympics$ | async)?.length }} data loaded</p>
  </div>
</ng-container>

<ng-container *ngIf="medalsByCountry$ | async as medals">
  <ul>
    <li *ngFor="let country of medals">
      {{ country.country }} : {{ country.totalMedals }} médailles
    </li>
  </ul>
</ng-container>
