<ng-container *ngIf="olympics$ | async as olympics">
  <div *ngIf="olympics === undefined">Chargement...</div>
  <div *ngIf="olympics === null">Erreur lors du chargement</div>
  <div *ngIf="olympics">
    <div class="subtitle">
      <p>Medals per Country</p>
    </div>
    <div class="statistics">
      <div class="stats">
        <p>Number of JOs</p>
        <span class="stats-value">{{ numberOfJOs$ | async }}</span>
      </div>
      <div class="stats">
        <p>Number of countries</p>
        <span class="stats-value">{{ numberOfCountries$ | async }}</span>
      </div>
    </div>
    <div class="chart-wrapper" *ngIf="medalsByCountry$ | async as data">
      <div class="chart-container">
        <ngx-charts-pie-chart
          [results]="data"
          [legend]="legend"
          [trimLabels]="trimLabels"
          [labels]="labels"
          [explodeSlices]="explodeSlices"
          [doughnut]="doughnut"
          [tooltipDisabled]="tooltipDisabled"
          (select)="onChartSelect($event)">
          <ng-template #tooltipTemplate let-model="model">
            <div>
              <div>{{ model.name }}</div>
              <div><i class="fa-solid fa-medal medal-icon"></i> {{ model.value }}</div>
            </div>
          </ng-template>
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</ng-container>
