/* You can add global styles to this file, and also import other style files */
.title {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 0.5rem;
}

.subtitle {
  background-color: #04838f;
  color: #ffffff;
  border-radius: 10px; 
  max-width: 18rem;
  margin: 0 auto 1rem;
  text-align: center;
}

.subtitle p {
  padding: 0.5rem;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  margin: 0;
}

.statistics {
  margin: 0 auto 20px;
  display: flex;
  flex-wrap: wrap; /* important pour le responsive */
  justify-content: center;
  gap: 1rem;
  max-width: 40rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.stats {
  border: #04838f 2px solid;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  flex: 1 1 150px; /* responsive */
  min-width: 120px;
}

.stats-value {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.3rem;
}